h3{
    color:#777;
}
.todo-list {
    width: 60%;
    margin:20px auto;
    padding-bottom: 20px;
    border: 2px solid #0985b6;
}
.text {
    background-color: #73d1f7;
    border: 1px solid #0985b6;
    font-size: 18px;
    color: #fff;
    padding: 10px;
    margin: 0 10px 15px 10px;
    width:80%;
    height: 50px;
    resize: none;
}
.btn {
    background-color: #73d1f7;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.btn:hover {
    background-color: #188ebd;
    color:#fff;
}